# vs
.vs/

# .net
packages/
ExtentReports/Program.cs
ExtentReports/bin/
ExtentReports/obj/
ExtentReports.Tests/Program.cs
ExtentReports.Tests/bin/
ExtentReports.Tests/obj/
KlovReporter/Program.cs
KlovReporter/bin/
KlovReporter/obj/
ExtentXReporter/bin/
ExtentXReporter/obj/
pkg/
