# vs
.vs/

# .net
packages/
extentreports-dotnet-core/Program.cs
extentreports-dotnet-core/bin/
extentreports-dotnet-core/obj/
extentreports-dotnet-core/bin/debug/
extentreports-dotnet-core.Tests/bin/
extentreports-dotnet-core.Tests/obj/
extentreports-dotnet-core.Tests/Program.cs

app/
