@if (Model.TestRunnerLogs.Count > 0)
{
<div id='testrunner-logs-view' class='view hide'>
	<div class='card-panel transparent np-v'>
		<h5>TestRunner Logs</h5>
		
		<div class='card-panel'>
			@foreach (var log in Model.TestRunnerLogs)
			{
				@Raw(log)
			}
		</div>
	</div>
</div>
}
<!-- testrunner-logs view -->