<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>@Model.MasterConfig.GetValue("documentTitle")</title>
  <link rel="apple-touch-icon" href="https://cdn.rawgit.com/extent-framework/extent-github-cdn/d74480e/commons/img/logo.png">
  <link rel="shortcut icon" href="https://cdn.rawgit.com/extent-framework/extent-github-cdn/d74480e/commons/img/logo.png">
  <link href="https://cdn.rawgit.com/extent-framework/extent-github-cdn/7cc78ce/spark/css/style.css" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>@Model.MasterConfig.GetValue("css") @Model.MasterConfig.GetValue("styles")</style>
</head>