<div class="header navbar">
    <div class="header-container">
        <div class="nav-logo">
            <a href="index.html">
                <img src="https://cdn.rawgit.com/extent-framework/extent-github-cdn/d74480e/commons/img/logo.png">
            </a>
        </div>
        <ul class="nav-left">
            <!--<li>
                <a class="sidenav-fold-toggler" href="#">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="sidenav-expand-toggler" href="#">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </li>-->
            <li class="search-box">
                <a class="search-toggle" href="#">
                    <i class="fa fa-search"></i>
                </a>
            </li>
            <li class="search-input">
                <input id="search-tests" class="form-control" type="text" placeholder="Type to search...">
            </li>
        </ul>
        <ul class="nav-right">
          <li class="m-r-10">
            <a href="#">
              <span class="badge badge-primary">@Model.MasterConfig.GetValue("reportName")</span>
            </a>
          </li>
            <li class="m-r-10">
                <a href="#">
                    <span class="badge badge-primary">@Model.StartTime</span>
                </a>
            </li>
        </ul>
    </div>
</div>