@using AventStack.ExtentReports.ViewDefs

@if (Model.HasChildren)
{
	<div class="accordion">
		@foreach (var node in Model.NodeContext.All())
		{
			<div class="card">
				<div class="card-header" role="tab">
					<h5 class="card-title">
						<div class="node">@node.Name</div>
						<div class="status-avatar float-right @node.Status.ToString().ToLower()-bg">
							<i class="fa fa-@TWBSIcon.GetIcon(node.Status) text-white"></i>
                        </div>
					</h5>
				</div>
				@if (node.HasLog)
				{
					<div class="collapse">
						<div class="card-body">
							@Include("Log", node)
						</div>
					</div>
				}
				@if (node.HasChildren)
				{
					@Include("RecurseNodes", node)
				}
			</div>
		}
	</div>
}