<ul class="nav nav-xs flex-row no-border pull-right">
	<li><a href = "#" class="b-l"><span class="badge badge-pull">@Model.MasterConfig.GetValue("reportName")</span></a></li>
    <li><a href = "#" class="b-l"><span class="badge badge-pull">@Model.StartTime</span></a></li>
    <li><a href = "#" class="b-l"><span class="badge badge-pull">4.0</span></a></li>
</ul>