@{
  var cdnURI="cdn.jsdelivr.net/gh/extent-framework/extent-github-cdn@";
  var csscommit="78fa5a2421587b8228150e93142e5ba97178e85b";
  var iconcommit="c439bdbc7bade3d85af3b90e9e69c30ebc87445f";
  var iconURI = cdnURI + iconcommit;
  var cssURI = cdnURI + csscommit;
  var offline = Model.Config.OfflineMode;
}

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>@Model.Config.DocumentTitle</title>
 @if (offline) {
 <link rel="apple-touch-icon" href="extent/logo.png">
 <link rel="shortcut icon" href="extent/logo.png">
 <link href="extent/spark-style.css" rel="stylesheet" />
 <link href="extent/font-awesome.min.css" rel="stylesheet">
 <script src="extent/jsontree.js"></script>
 } else {
 <link rel="apple-touch-icon" href="https://@iconURI/commons/img/logo.png">
 <link rel="shortcut icon" href="https://@iconURI/commons/img/logo.png">
 <link href="https://@cssURI/spark/css/spark-style.css" rel="stylesheet" />
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 <script src="https://cdn.rawgit.com/extent-framework/extent-github-cdn/7cc78ce/spark/js/jsontree.js"></script>
 }
 <style>@Model.Config.CSS</style>
</head>