@using AventStack.ExtentReports.ViewDefs

<table class="table table-sm">
	<thead><tr>
		<th class="status-col">Status</th>
		<th class="timestamp-col">Timestamp</th>
		<th class="details-col">Details</th>
	</tr></thead>
	<tbody>
		@foreach (var log in Model.LogContext.All())
		{
			<tr class="event-row">
				<td><i class="fa fa-@TWBSIcon.GetIcon(log.Status) text-@log.Status.ToString().ToLower()"></i></td>
				<td>@log.Timestamp.ToString("HH:mm:ss")</td>
				<td>
					@if (log.HasException)
					{
						<textarea disabled class="code-block">@log.ExceptionInfo.Exception.ToString()</textarea>
					}
					else
					{
						@Raw(log.Details)
					}
					@if (log.HasScreenCapture)
					{
						@Raw(log.ScreenCaptureContext.FirstOrDefault().Source)
					}
				</td>
			</tr>
		}
	</tbody>
</table>
