@if (Model.HasLog)
{
<div class="detail-body mt-4">												
	@Include("Log", Model)
</div>    
}
@if (Model.HasScreenCapture) { @foreach (var sc in Model.ScreenCaptureContext.All()) { @sc.Source } }
@if (Model.HasChildren)
{
<div class="mt-4">
	@Include("RecurseNodes", Model)
</div>
}