@if (Model.HasLog)
{
<div class="detail-body mt-4">												
	@Include("Log", Model)
</div>    
}
@if (Model.HasScreenCapture)
{
<div class="detail-foot">
	<ul class="attachments">
		@foreach (var sc in Model.ScreenCaptureContext.All())
		{
		<li>
			@sc.Source
		</li>
		}
	</ul>
</div>
}
@if (Model.HasChildren)
{
<div class="mt-4">
	@Include("RecurseNodes", Model)
</div>
}